   *{ box-sizing: border-box;}
   


.result_box{
	border: 1px solid black;
	height: 250px;
	width: 100xp;
	padding-top: 20px;
	
}



#table_box{
	float : left;
	padding: 60px;
	margin: 20px;
	
}

.navi{
	float: left;
	width: 250x;
	height: 350px;
	border: 1px solid black;
	padding : 10px;
}

.right_txt1{
	position: relative;
	left: 20px;
}

.right_txt2{
	position: relative;
	left: 60px;
	
}

.list_txt{
	padding-left: 49px;
}

.input_move{
	position: relative;
	left:20px;
}

.input_box{
	background-color: lightgray;
}

#authority{
	width: 160px;
}

#memRegForm{
	position: relative;
	left: 420px;
	margin-top:20px;
	
}


.input_file{
	position: absolute;
	top:256px;
	left:470px;
	
}
.big_box{
	border: 1px solid black;
	height: 530px;
	width: 840px;
	
}
.msg{
	
	border:1px solid black;
	padding-top:10px;
	height: 80px;
	width: 800px;
	
}

#privateList, #mangementList{
	position: relative;
	left:15px;
	top:15px;
}

.changeBtn{
	position: relative;
	top:15px;
}

#resetBtn{
	position: relative;
	top:15px;
	left:-100px;
	
}
#memberList{
	overflow: scroll;
	overflow-x: hidden;
       
        height: 220px;
}

.cho_Btn{
	width: 400px;
	height: 400px;
	background-color: #34336F;
	margin:60px 20px 20px 20px;
	color: #FFC90E;
    font-weight:bold;
    font-size: 2em;
}

.choice_body{
	width: auto;
	height: 600px;
	display: flex;
	justify-content: center;

}
