.navbar-light .navbar-brand {
	font-weight:600;
	color: #FFC90E;
}
.line {
	display: block;
	margin:0;
	padding:0;
	border: 1px solid #FFC90E;
	margin-bottom: 20px;
}
footer {
	position: fixed;
	height:40px;
	bottom:0;
	text-align: center;
	width:100%;
}
.tolink {
	color:#000000;
	text-align:right;
}