.post-main-font {
	color:#6d6d6d;
}
.post-table {
	margin-bottom: 0;
}
.post-main a {
	color: #000000;
}
.post-table td{
	text-align: center;
}
.black-td {
	text-align: left !important;
}
.post-line {
	padding:0;
	margin:0;
}
.post-btn {
	margin:3px;
	margin-bottom:15px;
	margin-top:15px;
}
.post-search-div {
	margin-top:15px;
}